[submodule "submodules/metacoq"]
	path = submodules/metacoq
	url = https://github.com/MetaCoq/metacoq.git
[submodule "WasmCert-Coq"]
	path = submodules/wasmcert
	url = https://github.com/womeier/WasmCert-Coq
