[submodule "submodules/metacoq"]
	path = submodules/metacoq
	url = https://github.com/MetaCoq/metacoq.git
[submodule "submodules/wasmcert"]
	path = submodules/wasmcert
	url = https://github.com/womeier/WasmCert-Coq
[submodule "submodules/strong-induction"]
	path = submodules/strong-induction
	url = https://github.com/womeier/strong-induction
