name: Test compilation

on:
  push:
    branches:
      - master
      - 8.17
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
    inputs:

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        opam_file:
          - 'coq-certicoq.opam'
        image:
          - 'yforster/coq:8.17.0--clang-11--compcert-3.12--extlib-0.11.8--equations-1.3--elpi.1.17.1-metacoq-8.17.dev.e0794e3'
      fail-fast: false  # don't stop jobs if one fails
    steps:
      - uses: actions/checkout@v4

      - uses: coq-community/docker-coq-action@v1
        with:
          custom_image: ${{ matrix.image }}
          opam_file: ${{ matrix.opam_file }}
          # before_install: | # comment back in if MetaCoq commit changes
          #   startGroup "fix permission issues"
          #     sudo chown -R coq:coq .
          #   endGroup
          #   startGroup "opam pin"
          #     opam pin -n -y submodules/metacoq
          #   endGroup
          before_script: |
            startGroup "fix permission issues"
              sudo chown -R coq:coq .
            endGroup
            startGroup "Copy repo (for later benchmarking)"
              cp -r `pwd` ~/repo
            endGroup
            startGroup "clone subrepos"
              sudo chmod 777 . -R
              sudo chmod 777 ~/.opam/ -R
              git config --global --add safe.directory /github/workspace
              git config --global --add safe.directory /github/workspace/submodules/metacoq
              git config --global --add safe.directory /github/workspace/submodules/wasmcert
              git submodule update --init
            endGroup
            startGroup "Install some more opam packages"
              cd ~/repo
              opam pin -n -y  submodules/metacoq # was pinned to the submodule at the same path in the dockerfile before -> is not rebuilt

              # remove again once proposals in upstream WasmCert
              opam pin -y -y  submodules/wasmcert
              opam install /github/workspace/submodules/wasmcert/
            endGroup
            #      startGroup 'Install Alectryon'
            #  sudo apt-get update -y -q
            #  sudo DEBIAN_FRONTEND=noninteractive apt-get install -y -q \
            #    python3-pip
            #  python3 -m pip install --user --upgrade alectryon
            #endGroup
          after_script: |
            startGroup "List installed packages"
              opam list
            endGroup
            startGroup "Run benchmarks"
              sudo apt-get install --yes wabt nodejs python3-tqdm
              ulimit -s unlimited
              make -C ~/repo/benchmarks all
            endGroup
            #            startGroup "Build docs"
            #  make -C ~/repo install
            #  make -C ~/repo docs
            #  sudo mkdir /github/workspace/docs
            #  sudo chmod 777 /github/workspace/docs
            #  sudo mv ~/repo/docs/* /github/workspace/docs
            #endGroup
            #            startGroup "Test bootstrapped plugins"
            #  cd repo && ./configure.sh global
            #  make -C ~/repo/bootstrap test
            #endGroup

      # deploy to gh pages
      #      - name: Setup Pages
      #  uses: actions/configure-pages@v3
      #- name: Upload artifact
      #  uses: actions/upload-pages-artifact@v1
      #  with:
      #    path: '/github/workspace/docs'
      #- name: Deploy to GitHub Pages
      #  id: deployment
      #  uses: actions/deploy-pages@v2
